<div class="container">

<div>
  <h1>Stupid Coaching</h1>
  <h2>Ask your coach anything:</h2>
</div>



<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question">
    <input class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>

</div>
